.avatar-show-img {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: #fff;
  h3{
     margin-top: 0; 
    }
}

.well.profile-description {
  background-color: #a7ade8;
  border-color: #a7d3e8;
}

.well.profile-contact-info {
  background-color: #edaa97;
  border-color: #ccdde5;
}