.avatar-show-img {
  width: 128px;
  height: 128px;
}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #3e6da4;
  border-radius: 4px;
  background-color: #337ab7;
  color: #ff82d9;
  text-align: center;
}

.well.profile-block {
  color: #fff;
  h3{
     margin-top: 0; 
    }
}

.well.profile-description {
  background-color: #a7ade8;
  border-color: #a7d3e8;
}

.well.profile-contact-info {
  background-color: #edaa97;
  border-color: #ccdde5;
}